@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Anek Latin', sans-serif;
}

/* 
Paleta de colores
naranjo: #FD7F02
negro: #000000
blanco: #FAFAFA
marron: #673036
*/

body{
    background-image: url(../img/backgroundhd.jpg);
    background-size: contain;
  }

main{
    background-color: rgba(255, 255, 255, 0.856);
    backdrop-filter: blur(2px)
}
.nav-link{
    color: #673036;
}


img.destacado{
    max-width: 100vw;
}


.carousel-caption{
    background-color: black;
    width:fit-content;
    margin: auto;
    padding: 20px 50px 10px 50px;
    background-color: rgba(0, 0, 0, 0.767);
    text-transform: uppercase;
}

h2{
    background-color: #fd7f02ce;
    text-transform: uppercase;
    color: white;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    margin: 0;
}

.intro{
    background-image: url(../img/gojoeyehd2.png);
    background-size: cover;
    background-position: center;
}

.ubi{
    background-image: url(../img/onpiecehd1.png);
    background-size: cover;
    background-position: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.intro-text{
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    text-align: center;
    padding: 10px;
    padding-top: 30px;
}

.intro-text a h3{
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    display: inline-block;
    padding-bottom: 35px;
}
.intro-text a h3:hover{
    transform: scale(1.2);
}

.producto{
    margin: 10px;
    transition: all .1s ease-in-out;
}
.producto:hover{
    transform: scale(1.10);
    z-index: 100;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

footer{
    background-image: url(../img/nanamihd1.png);
    background-size: cover;
    background-position: center;
}
.footer {
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    padding: 10px;
    padding-top: 30px;
    color: white;
    padding: 30px 10% 30px 10%
}

.logo{
    width: 50px;
    filter: invert(1);
}

.rrss{
    list-style: none;
    text-align: center;
    text-justify: center;
}
.rrss li{
    display: inline-block;
    padding: 10px;
}

